.text-field {
    /*noinspection CssInvalidFunction*/
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.text-field:focused {
    /*noinspection CssInvalidFunction*/
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.text-area {
    /*noinspection CssInvalidFunction*/
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.text-area:focused {
    /*noinspection CssInvalidFunction*/
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}